<?xml version="1.0" encoding="UTF-8"?>
<suite name="GpiCalendarSuite">
    <listeners>
        <listener class-name="calendarautomation.utils.TestListener"/>
    </listeners>
    <test name="CalendarTests">
        <classes>
            <class name="calendarautomation.Tests.CalendarTest"/>
            <class name="calendarautomation.Tests.ApiTest"/>
        </classes>
    </test>
</suite>